.embed-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
  }

.embed-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
}

.p5-container {
  width: 80%; /* CUSTOMIZE: Change width */
  max-width: 800px; /* CUSTOMIZE: Maximum width */
  margin: 2em auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  overflow: hidden;
}

.p5-container iframe {
  width: 100%;
  height: 800px;
  border: none;
}