@import url('https://fonts.cdnfonts.com/css/imbue');
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 20px 5%;
  background-color: lavenderblush;
}

.embed-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
  }

.embed-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
}

.p5-container {
  width: 80%;
  max-width: 800px;
  margin: 2em auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  overflow: hidden;
}

.p5-container iframe {
  width: 100%;
  height: 800px;
  border: none;
}

h1 {
  font-family: 'Are You Serious', cursive;
  color: royalblue;
  text-shadow: 0 0 20px plum,
              0 0 40px papayawhip;
  stroke-width: 2px;
  margin: 70px 0px;
  line-height: 150px;
  text-align: center;
  font-size: 230px;
}

h2 {
  font-family: 'Imbue', sans-serif;
  text-align: center;
  font-size: 70px;
  color: purple;
}

#first-header {
  padding-top: 50px;
}

h3 {
  font-family: 'Imbue', sans-serif;
  font-size: 40px;
  color: mediumorchid;
}

p, a {
  font-size: 25px;
  font-family: 'Arial Narrow', sans-serif;
  line-height: 1.5;
}

p {
  color: mediumslateblue;
}

a{
  font-style: italic;
  text-decoration:none;
  color: cornflowerblue;
}

#subtitle{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.arrowImg {
  filter: drop-shadow(0 0 7px lightpink);
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  transition: transform 0.3s ease;
}

.arrowImg:hover {
  transform: translateY(5px);
}

.arrowImg img {
  width: 100%;
  height: 100%;
  display: block;
}