body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: whitesmoke;
  font-family: "Lucida Console", "Courier New", monospace;
  
}

.index-bg {
    background-color: black;
    background-size: cover;
}

.university-bg {
    background-image: url('assets/protest1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fire-bg {
    background-image: url('assets/fire.webp');
    background-color: #e0e0e0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.arrest-bg {
    background-image: url('assets/arrest1.jpg');
    background-color: #e0e0e0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.info-bg {
    background-image: url('assets/30sept.jpg');
    filter: brightness(60%);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* img {
  position: absolute; left: 400px; top: 100px;
  height: 575px;
  border-radius: 20px;
  padding: 10px;
  margin: 50px, 800px;
  transition: 1s;
  filter: blur(5px);
}

img:hover {
  height: 650px;
  filter: blur(0px);
} */

#p1:hover {
  /*   transform: rotate(5deg); */
  letter-spacing: 0.5em;
}

/* .specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

a, u {
    color:#fff36d;
  text-decoration: none;
}

h1{
  font-size: 60px; 
}

p{
  line-height: 1.5;
}

#p1 {
  font-size: 16px; 
}

#p2{
  font-size: 25px;
}

/*
@keyframes coolAnimation {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: blue;
  }
}
  */