body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff36d;
  font-family: "Lucida Console", "Courier New", monospace;
  
}

.index-bg {
    background-color: black;
    background-size: cover;
}

.university-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/protest1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fire-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/fire.webp');
    background-color: #e0e0e0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.smoke-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/smokebali.jpg');
    background-color: #e0e0e0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.arrest-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/arrest1.jpg');
    background-color: #e0e0e0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.info-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('assets/30sept.jpg');
    /*background-size: cover;
    background-repeat: no-repeat; */
    background-position: center center;
}

img {
  height: 300px;
  border-radius: 20px;
  padding: 10px;
  margin: 50px, 800px;
  transition: 1s;
  filter: blur(5px);
}

.info-img {
    position:absolute;
    z-index: -1;
    border-radius: 20px;
    filter: blur(3px);
}

.info-img:hover {
  height: 400px;
  filter: blur(0px);
}

.img1 { position:absolute; top: 100px; left: 10%; width: 400px; }
.img2 { top: 900px; right: 15%; width: 500px; }
.img3 { top: 1700px; left: 50%; transform: translateX(-50%); width: 600px; }

#p1:hover {
  /*   transform: rotate(5deg); */
  letter-spacing: 0.5em;
}

/* .specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

a, u {
    line-height: 1.5;
    color:#ff5656;
    text-decoration: none;
}

h1{
  font-size: 60px; 
}

/* p{
  line-height: 1.5;
} */

.paragraph {
  width: 60vw;
  padding: 10px;
  line-height: 160%;
}

#p1 {
  font-size: 16px; 
}

#p2{
  font-size: 25px;
}

/*
@keyframes coolAnimation {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: blue;
  }
}
  */