.coverImg img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.box {
    fill: black;
}

.content {
    position: relative;
    width: 60vw;
    line-height: 1.6;
    width: 30em;
    padding: 10px 20px;
}

.text-block{
    background-color: black;
}

.typewriter h2 {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}