@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.coverImg img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

h2 {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-size: 80px;
    font-style: normal;
    margin: 0 auto;
}

p, a{
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.box {
    fill: black;
}

.content {
    position: relative;
    width: 80vw;
    line-height: 1.6;
    padding: 10px 20px;
}

a {
    margin-left: auto;
    margin-right: auto;
    color: inherit;
    text-decoration: none;
    font-style:italic;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(2);
    color: #ff5656;
}

.text-block{
    background-color: black;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}